<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<form action="http://localhost:8080/LOGIN/register.php" method="post" name="form1">
		<div class="box">
			Full Name: <input type="text" name="name">
		</div>
		<div class="box">
			Email Id: <input type="email" name="email">
		</div>
		<div class="box">
			Username: <input type="text" name="username">
		</div>
		<div class="box">
			Password: <input type="password" name="password">
		</div>
		<div>
			<input type="submit" name="Submit" id="submit">
		</div>
	</form>
	{{!-- <div><button id="login">LOGIN</button></div>
	<script>
		$(document).ready(function () {
			// Attach a click event handler to the button
			$("#login").on("click", function () {
				// Navigate to the desired page
				window.location.href = "./login";
			});
		});
	</script> --}}
</body>

</html>