<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\public\style.css">
</head>
<body>
<table>
    <tr> 
        <td id="table">Sensor#</td>
        <td id="table">Node ID</td>
        <td id="table">Sensor Reading</td>
        <td id="table">Actuator#</td>
        <td id="table">Actuator Node ID</td>
        <td id="table">Initial Position</td>
        <td id="table">Current Position</td>
    </tr>
</table>
</body>
</html>